.container {
  padding: 0 0 1em 0;
  margin-top: .5em;
  width: 282px;
  min-width: 182px;
  background-color: var(--cinza);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 10px;
  min-height: 20rem;
}

.capa {
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  min-height: 20rem;

}

.container h2,
.favoritar {
  padding: 0 1em;
}

.favoritar {
  width: 25px;
}